#### Dataframe

Dataframe is a special kind of list in which the elements are of same length.

In [ ]:
vec1 = c(12L,13L,14L)
vec2 = c(34L,35L,36L)
vec3= c(45L,46L,47L)

In [ ]:
df <- data.frame(vec1,vec2,vec3)

In [ ]:
df

In [ ]:
class(df)

#### give name to the columns in dataframe

In [ ]:
df <- data.frame("A" =vec1,"B" = vec2, "C" =vec3 )

In [ ]:
df

In [ ]:
str(df)

In [ ]:
names(df)

In [ ]:
nrow(df)

In [ ]:
ncol(df)

In [ ]:
summary(df)

In [ ]:
vec1 = c("Rohan","Shyam","John")
vec2 = c(30L,32L,28L)
vec3= c("IT","Doctor","Actor")

list_ = list(vec1,vec2,vec3)

In [ ]:
df_new = data.frame(list_)

In [ ]:
df_new

In [ ]:
names(df_new) = c("Name","Age","Profession")

In [ ]:
df_new

#### Accessing elements from DataFrame

In [19]:
df

  A  B  C
1 12 34 45
2 13 35 46
3 14 36 47

In [20]:
df["A"]

  A
1 12
2 13
3 14

In [21]:
df[1]

  A
1 12
2 13
3 14

In [22]:
df[1][3]

ERROR: Error in `[.data.frame`(df[1], 3): undefined columns selected

In [23]:
df[[1]]

[1] 12 13 14

In [24]:
df[[1]][2]

[1] 13

In [25]:
df[c("A","B")]

  A  B
1 12 34
2 13 35
3 14 36

In [26]:
df[["C"]][3]

[1] 47

In [27]:
df[1:2]

  A  B
1 12 34
2 13 35
3 14 36

In [28]:
df[1:2,]

  A  B  C
1 12 34 45
2 13 35 46

In [29]:
df[1:2,2]

[1] 34 35

In [30]:
df[,2:3]

  B  C
1 34 45
2 35 46
3 36 47

In [33]:
df$A

[1] 12 13 14

In [35]:
df

  A  B  C
1 12 34 45
2 13 35 46
3 14 36 47

In [34]:
df$C>45

[1] FALSE  TRUE  TRUE

In [36]:
df[c(FALSE,TRUE,TRUE)]

  B  C
1 34 45
2 35 46
3 36 47

In [37]:
df[c(FALSE,TRUE,TRUE),]

  A  B  C
2 13 35 46
3 14 36 47

In [ ]:
df$C>45

In [38]:
df[df$C>45,]

  A  B  C
2 13 35 46
3 14 36 47

#### Modifiying a Dataframe

In [39]:
df

  A  B  C
1 12 34 45
2 13 35 46
3 14 36 47

In [40]:
df["D"] = c("A","B","Z") #adding a new column

In [41]:
df

  A  B  C  D
1 12 34 45 A
2 13 35 46 B
3 14 36 47 Z

In [42]:
#using cbind() to add a column

df = cbind(df,"E" = c("y","n","y"))

In [43]:
df

  A  B  C  D E
1 12 34 45 A y
2 13 35 46 B n
3 14 36 47 Z y

In [44]:
df[["D"]][1] <- "X" #modifying value in a column

In [45]:
df

  A  B  C  D E
1 12 34 45 X y
2 13 35 46 B n
3 14 36 47 Z y

In [46]:
## adding a new row

df[4,] = c(67,68,69,"A","n")

In [47]:
df

  A  B  C  D E
1 12 34 45 X y
2 13 35 46 B n
3 14 36 47 Z y
4 67 68 69 A n

In [48]:
# we can also use "rbind" method to add a row

df = rbind(df,c(55,56,57,"B","y"))

In [49]:
df

  A  B  C  D E
1 12 34 45 X y
2 13 35 46 B n
3 14 36 47 Z y
4 67 68 69 A n
5 55 56 57 B y

In [50]:
ncol(df)

[1] 5

In [51]:
nrow(df)

[1] 5

In [52]:
df

  A  B  C  D E
1 12 34 45 X y
2 13 35 46 B n
3 14 36 47 Z y
4 67 68 69 A n
5 55 56 57 B y

#### Deleting elements from Dataframe

In [53]:
df$E <- NULL

In [54]:
print(df)

   A  B  C D
1 12 34 45 X
2 13 35 46 B
3 14 36 47 Z
4 67 68 69 A
5 55 56 57 B

In [55]:
ncol(df)

[1] 4

In [56]:
##dropping rows

df <- df[-5,]

In [57]:
df

  A  B  C  D
1 12 34 45 X
2 13 35 46 B
3 14 36 47 Z
4 67 68 69 A

In [58]:
nrow(df)

[1] 4