## Lists

Unlike Atomic vectors, the modes/datatypes of members in list has no limitation of being the same.

A list can contain members with different datatypes, as well as can contain vectors and lists also as its members.

List can be created by using List() method or coerce different values with "as.list()" method.

In [ ]:
list_1 <- list(1,1.2,3.4,"list",9 + 10i)

In [ ]:
list_1

In [ ]:
#check type 
typeof(list_1)

In [ ]:
list_2 <- as.list(c(1,2.3,"vec"))

In [ ]:
list_2

In [ ]:
typeof(list_2)

#### list of vectors

In [ ]:
vec_1 = c(1L,2L,3L)
vec_2 = c(14.5,25.3)
vec_3 = c("A","b","c")

In [ ]:
list_vec = list(vec_1,vec_2,vec_3)

In [ ]:
list_vec

In [ ]:
typeof(list_vec)

#### list of vectors and list

In [ ]:
list_list = list(list_vec,list_1)

In [ ]:
list_list

#### Structure of a list can be checked by str() function

In [ ]:
str(list_list)

### Subsetting lists

In [ ]:
list_2 = list(1:10, "A","B","January")

In [ ]:
list_2

In [ ]:
length(list_2)

In [ ]:
list_2[1]

In [ ]:
list_2[2]

In [ ]:
list_2[1:3]  #getting first 3 values of the list

#### subsetting values of vector inside the list

In [ ]:
list_2[[1]]

In [ ]:
list_2[[1]][4]

In [ ]:
list_2[[1]][3:7] #getting values startinf from 3 and ending at 7 from the vector inside list

In [ ]:
list_2[[1]]

#### Modify values in list

In [ ]:
list_2[[1]][3] = "Three"

In [ ]:
list_2

In [ ]:
list_2[4] = "March"

In [ ]:
list_2

#### Drop values from list

In [ ]:
list_2[-1]

In [ ]:
list_2[c(-2,-3)]

In [ ]:
list_2[[1]][c(-3,-7,-8)]

#### But this doesn't change the actual list:

In [ ]:
list_2

#### to drop the values from the actual list, you have to use  assignment operators

In [ ]:
list_2 <- list_2[-1]

In [ ]:
list_2

#### Selection using logical operators

In [ ]:
list_2[c(TRUE,FALSE,FALSE)]

In [ ]:
list_2[c(TRUE,TRUE,FALSE)]

#### Adding values to a list

In [ ]:
list_2

In [ ]:
length(list_2)

In [ ]:
list_2[4] = "New member"

In [ ]:
list_2

In [ ]:
length(list_2)

In [ ]:
list_2[7] = 7 # if give index such that previous index do not have values then those indexes are filled with NULL

In [ ]:
list_2

### Methods on List

In [87]:
list1 = list(1,2,3,4)

list2 = list(4.5,5.6,2.3,2,3)

list3 = list("a","b",23,54)

In [89]:
sum(list3)

ERROR: Error in sum(list3): invalid 'type' (list) of argument

In [88]:
sum(list1)

ERROR: Error in sum(list1): invalid 'type' (list) of argument

In [90]:
order(list2)

ERROR: Error in order(list2): unimplemented type 'list' in 'orderVector1'

In [91]:
sort(list1)

ERROR: Error in sort.int(x, na.last = na.last, decreasing = decreasing, ...): 'x' must be atomic

In [92]:
#converting lists back to vectors
vec1  = unlist(list2)

In [93]:
vec1

[1] 4.5 5.6 2.3 2.0 3.0

In [94]:
sum(vec1)

[1] 17.4

In [95]:
length(list1)

[1] 4

### Named Lists


Similar to vectors we can also have named lists.

In [98]:
list_1 = list( "Ramesh" ,  32, "Bangalore")

In [99]:
list_1

[[1]]
[1] "Ramesh"

[[2]]
[1] 32

[[3]]
[1] "Bangalore"

In [96]:
list_named = list("Name" = "Ramesh" , "age" = 32, "city"= "Bangalore")

In [97]:
list_named

$Name
[1] "Ramesh"

$age
[1] 32

$city
[1] "Bangalore"

In [100]:
list_named["city"]

$city
[1] "Bangalore"

### add new member in named list

In [101]:
list_named ["Working"] = TRUE

In [102]:
list_named

$Name
[1] "Ramesh"

$age
[1] 32

$city
[1] "Bangalore"

$Working
[1] TRUE

In [103]:
# can also add non name memmber to list, by default 5 is the name of the new member
list_named[5] = 55

In [104]:
list_named

$Name
[1] "Ramesh"

$age
[1] 32

$city
[1] "Bangalore"

$Working
[1] TRUE

[[5]]
[1] 55

### Deleting values from named list

In [105]:
list_named[5] <- NULL

In [106]:
list_named

$Name
[1] "Ramesh"

$age
[1] 32

$city
[1] "Bangalore"

$Working
[1] TRUE

### Attaching and Detaching List to R path

In [108]:
list_named

$Name
[1] "Ramesh"

$age
[1] 32

$city
[1] "Bangalore"

$Working
[1] TRUE

In [107]:
attach(list_named)

In [109]:
Name

[1] "Ramesh"

In [110]:
age

[1] 32

In [111]:
city

[1] "Bangalore"

In [112]:
Working

[1] TRUE

In [113]:
detach(list_named)

In [114]:
Working

ERROR: Error in eval(expr, envir, enclos): object 'Working' not found

In [115]:
city

ERROR: Error in eval(expr, envir, enclos): object 'city' not found