## Using Loops

Loops are very important concepts when it comes iterating over container objects or range of numbers e.g. lists, vectors, dataframes etc.


### For loops


##### Syntax

for i in vector/list {

    do something
    
   }
   
The loop will go through each element in the vector/lists and execute the code written in the braces.

In [18]:
i = 3
print(i*i)

[1] 9

In [19]:
for (i in (1:10)){
    
    print(i*i)
    i = i+1
    
}

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36
[1] 49
[1] 64
[1] 81
[1] 100

In [20]:
for (i in (1:10)){
    
    print(i*i)
    
}

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36
[1] 49
[1] 64
[1] 81
[1] 100

In [21]:
for (i in seq(1,10,by=2)){
    
    print(i*i)
    
}

[1] 1
[1] 9
[1] 25
[1] 49
[1] 81

In [22]:
vec = c(12,13,14,15)
vec

[1] 12 13 14 15

In [24]:
for (i in vec){
    print(i%%2)
}

[1] 0
[1] 1
[1] 0
[1] 1

In [25]:
# Program to find the sum of all even numbers and odd numbers stored in a list seperately

# List of numbers
numbers = list(16, 55, 33, 58, 24, 82, 45, 54,19)

# variable to store the sum
even_sum = 0
odd_sum = 0

# iterate over the list
for (i in numbers){
    if(i%%2==0){
        even_sum = even_sum+i
    } else {
        odd_sum = odd_sum + i
        }
    }

cat("The sum of even numbers in the list is ", even_sum)
print("\n")
cat("The sum of odd numbers in the list is ", odd_sum)

The sum of even numbers in the list is  234[1] "\n"
The sum of odd numbers in the list is  152

In [26]:
vec1 = c(12L,13L,14L)
vec2 = c(34L,35L,36L)
vec3= c(45L,46L,47L)


df <- data.frame("A" = vec1,"B"= vec2,"C"= vec3)
df

  A  B  C
1 12 34 45
2 13 35 46
3 14 36 47

In [27]:
ncol(df)

[1] 3

In [28]:
for (i in 1:ncol(df)){
    
    print(df[i])
}

   A
1 12
2 13
3 14
   B
1 34
2 35
3 36
   C
1 45
2 46
3 47

In [29]:
colnames(df)

[1] "A" "B" "C"

In [30]:
for (i in colnames(df)){
    
    print(df[i])
}

   A
1 12
2 13
3 14
   B
1 34
2 35
3 36
   C
1 45
2 46
3 47

### Nested For loops

We can also for loops inside anothe for loop , thus creating a nested for loop.

In [31]:
for (i in (1:3)){
    for (j in (1:2)){
        print(paste("multiplication of i and j is :" , i*j),quote = FALSE)
        }
    }

[1] multiplication of i and j is : 1
[1] multiplication of i and j is : 2
[1] multiplication of i and j is : 2
[1] multiplication of i and j is : 4
[1] multiplication of i and j is : 3
[1] multiplication of i and j is : 6

In [ ]:
mat = matrix(seq(12,23, by =1),nrow=3,ncol=4, dimnames = (list(c("row1","row2","row3"),
                                                                c("col1","col2","col3","col4"))))

In [ ]:
mat

In [ ]:
for (i in (1:nrow(mat))){
    
    for (j in (1:ncol(mat))){
        
        print(paste(sprintf("Element at row %d and column no %d:",i,j), mat[i,j]),quote=FALSE)
        #print("/n")
    }
}

### While Loop

#### Syntax

    while (condition)
    {
        Execution Statement
    }

In [32]:
a = TRUE
while (a){
    
    print(a)
    
    a= FALSE
}

[1] TRUE

In [33]:
i <- 1

while(i<10){
    
    print(paste("value of i is :", i),quote = FALSE)
    i= i + 1
}

[1] value of i is : 1
[1] value of i is : 2
[1] value of i is : 3
[1] value of i is : 4
[1] value of i is : 5
[1] value of i is : 6
[1] value of i is : 7
[1] value of i is : 8
[1] value of i is : 9

In [34]:
mat = matrix(seq(12,23, by =1),nrow=3,ncol=4, dimnames = (list(c("row1","row2","row3"),
                                                                c("col1","col2","col3","col4"))))

In [35]:
mat

     col1 col2 col3 col4
row1 12   15   18   21
row2 13   16   19   22
row3 14   17   20   23

In [36]:
i=1
while (i<=nrow(mat)){
    j=1
    while(j<=ncol(mat)){
        print(paste(sprintf("Element at row %d and column no %d:",i,j), mat[i,j]),quote=FALSE)
        j=j+1
    }
    i=i+1
}

[1] Element at row 1 and column no 1: 12
[1] Element at row 1 and column no 2: 15
[1] Element at row 1 and column no 3: 18
[1] Element at row 1 and column no 4: 21
[1] Element at row 2 and column no 1: 13
[1] Element at row 2 and column no 2: 16
[1] Element at row 2 and column no 3: 19
[1] Element at row 2 and column no 4: 22
[1] Element at row 3 and column no 1: 14
[1] Element at row 3 and column no 2: 17
[1] Element at row 3 and column no 3: 20
[1] Element at row 3 and column no 4: 23

Let's write a code in R to Print the Fibonacci Sequence till given number of terms by the user.

Fibonaci seq: 0, 1, 1, 2, 3, 5, 8, 13, 21,......

In [ ]:
i =3
j=0
k=1
n = as.integer(readline("Give the nth term!!"))
if (n<=0){
    print("Please enter a valid term!")
    n = as.integer(readline("Give the nth term!!"))
} else if (n==1){
    
    print(j)
} else if (n==2){
    
    cat(j,k)
} else {
    print(j)
    print(k)
    while (i<=n){  
    sum = j+k
    #print(j,k)
    print(sum)
    j = k
    k = sum
    i=i+1
}
    
}

## Break Statement

We can use Break statement to break out of the loop i.e. to take the control out of the loop.

In [39]:
vec = c(12,13,14,15)

for (i in vec){
    print(i)
    break
}

[1] 12

In [4]:
#let's use break to break out if there is missing values in a list

lst = list("one",1,"two",2," ",3)

for (i in lst){
    
    if (i==" "){
        break
    }
    else{
        
        print(i)
    }
}

[1] "one"
[1] 1
[1] "two"
[1] 2

In [5]:
i=1
lst = list("one",1,"two",2," ",3)
while (i<=length(lst)){
    
    if (lst[i]==" "){
        break  
    }
    
    else{
        print(lst[i])
    }
    i = i+1
}

[[1]]
[1] "one"

[[1]]
[1] 1

[[1]]
[1] "two"

[[1]]
[1] 2

## Next Statement

Next is used to skip the current iteration without breaking the loop on the basis of some condition.

In [6]:
#let's use next to skip printing the missing values in a list

lst = list("one",1,"two",2," ",3)

for (i in lst){
    
    if (i==" "){
        next
    }
    else{
        
        print(i)
    }
}

[1] "one"
[1] 1
[1] "two"
[1] 2
[1] 3

In [7]:
vec = c("A","b","C","c","D","e","f")

for (i in vec){
    if (i == toupper(i)){
        
        next
    }
    else{
        print(i)
    }
}

[1] "b"
[1] "c"
[1] "e"
[1] "f"

### Repeat

In [8]:
i=1
repeat{
    
    print(i)
    i=i+1
    if(i>10){
        
        break
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10